<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Registro</title>
		<script src="js/angular.min.js" charset="utf-8"></script>
		<script src="js/app.js" charset="utf-8"></script>
		<link rel="stylesheet" href="css/estilo.css" charset="utf-8"/>
		<link rel="stylesheet" href="css/w3.css" charset="utf-8"/>
		<link rel="stylesheet" href="css/template.css" charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="css/font-awesome-4.6.3/css/font-awesome.css" />
		
	</head>
	<body ng-app class="w3-sand">
		<header class="page-header w3-sand">
			<div class="logo-wrapper w3-center w3-sand">
				<p>
					<img alt="" class="logo-wrapper logo  " src="images/logo_fisepn.png" /><br>
					<img alt="" class="logo-wrapper logo images " src="images/bucalcenter.png" /><br>
					<label class="w3-center w3-text-blue-grey w3-text-shadow">BUCALCENTER</label>
				</p>
			</div>
		</header>
		<div align="center">
		<form name="form2">
	       	<fieldset style="width: 50%">
				<legend>Paciente</legend>
				
	            	<table>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Modo: </label></td>
							<td>
								<input type="text" name="id" value="P" placeholder="PACIENTE" class="w3-select" ng-model="id" disabled required>
							</td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Nombre de Usuario: </label></td>
							<td><input type="text" name="f_user" id="f_user" ng-model="nombreUsuario" class="myinput w3-input w3-group" required></td>
						</tr>
						<tr>
							<td></td>
							<td><div class="msgError" ng-show="form2.f_user.$dirty && form2.f_user.$error.required">El nombre usuario es requerido</div></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Contraseña: </label></td>
							<td><input type="password" name="f_password1"  id="f_password1" ng-model="password1" class="myinput w3-input w3-group" required></td>
						</tr>
						<tr>
							<td></td>
							<td><div class="msgError" ng-show="form2.f_password1.$dirty && form2.f_password1.$error.required">La contraseña es requerida</div></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Confirmar contraseña: </label></td>
							<td><input type="password" name="f_password2"  id="f_password2" ng-model="password2" class="myinput w3-input w3-group" required></td>
						</tr>
						<tr>
							<td></td>
							<td><div class="msgError" ng-show="form2.f_password2.$dirty && form2.f_password2.$error.required">La confirmación contraseña es requerida</div></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Primer Nombre: </label></td>
							<td><input type="text" name="f_nombre1" id="f_nombre1" ng-model="nombre1" class="myinput w3-input w3-group" required></td>
						</tr>
						<tr>
							<td></td>
							<td><div class="msgError" ng-show="form2.f_nombre1.$dirty && form2.f_nombre1.$error.required">El nombre es requerido</div></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Segundo Nombre: </label></td>
							<td><input type="text" name="f_nombre2" id="f_nombre2" ng-model="nombre2" class="myinput w3-input w3-group"></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Primer Apellido: </label></td>
							<td><input type="text" name="f_apellido1" id="f_apellido1" ng-model="apellido1" class="myinput w3-input w3-group" required></td>
						</tr>
						<tr>
							<td></td>
							<td><div class="msgError" ng-show="form2.f_apellido1.$dirty && form2.f_apellido1.$error.required">El apellido es requerido</div></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Segundo Apellido: </label></td>
							<td><input type="text" name="f_apellido2" id="f_apellido2" ng-model="apelldo2" class="myinput w3-input w3-group"></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Cedula de identidad: </label></td>
							<td><input type="text" name="f_ci" id="f_ci" ng-model="cedula" class="myinput w3-input w3-group" required></td>
						</tr>
						<tr>
							<td></td>
							<td><div class="msgError" ng-show="form2.f_ci.$dirty && form2.f_ci.$error.required">La cédula es requerida</div></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Fecha de nacimiento: </label></td>
							<td><input type="date" name="f_fecha_nac" id="f_fecha_nac" ng-model="fechaNacimiento" class="myinput w3-input w3-group" /></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Lugar de nacimiento: </label></td>
							<td><input type="text" name="f_lugar_nac" id="f_lugar_nac" ng-model="lugarNacimiento" class="myinput w3-input w3-group"></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Dirección: </label></td>
							<td><input type="text" name="f_direccion" id="f_direccion" ng-model="direccion" class="myinput w3-input w3-group"></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Teléfono Domicilio: </label></td>
							<td><input type="text" name="f_fono_dom" id="f_fono_dom" ng-model="telefonoDomicilio" class="myinput w3-input w3-group" required></td>
						</tr>
						<tr>
							<td></td>
							<td><div class="msgError" ng-show="form2.f_fono_dom.$dirty && form2.f_fono_dom.$error.required">El teléfono es requerido</div></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Teléfono Celular: </label></td>
							<td><input type="text" name="f_fono_cel" id="f_fono_cel" ng-model="telefonoCelular" class="myinput w3-input w3-group"></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Edad: </label></td>
							<td><input type="number" name="f_edad" id="f_edad" min="0" max="1000" ng-model="edad" class="myinput w3-input w3-group"></td>
						</tr>
						<tr>
							<td></td>
							<td><div class="msgError" ng-show="form2.f_edad.$error.max">El valor no debe ser mayor que 1000</div></td>
						</tr>
						<tr>
							<td></td>
							<td><div class="msgError" ng-show="form2.f_edad.$error.min">El valor no debe ser menor que 0</div></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Género: </label></td>
							<td>
								<select name="f_genero" id="f_genero" ng-model="genero" class="w3-select">
									<option value="M" >MASCULINO</option>
									<option value="F" >FEMENINO</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Correo electrónico: </label></td>
							<td><input type="email" name="f_correo_e" id="f_correo_e" ng-model="correoElectronico" class="myinput w3-input w3-group" required></td>
						</tr>
						<tr>
							<td></td>
							<td><div class="msgError" ng-show="form2.f_correo_e.$error.email">Formato de correo <b>ejemplo@dominio.com</b></div></td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Estado Civil: </label></td>
							<td>
								<select name="f_estado_civ" id="f_estado_civ" ng-model="estadoCivil" class="w3-select">
									<option value="SOLTERO">SOLTERO</option>
									<option value="CASADO">CASADO</option>
									<option value="VIUDO">VIUDO</option>
									<option value="DIVORCIADO">DIVORCIADO</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><label class="w3-btn w3-blue-grey w3-input w3-group">Ocupación: </label></td>
							<td>
								<select name="f_ocupacion" id="f_ocupacion" ng-model="ocupacion" class="w3-select">
									<option value="INGENIERIA">INGENIERIA</option>
									<option value="INVESTIGACION">INVESTIGACION</option>
									<option value="ESTUDIANTE">ESTUDIANTE</option>
									<option value="ODONTOLOGIA">ODONTOLOGÍA</option>
									<option value="OTROS">OTROS</option>
								</select>
							</td>
						</tr>
	                	<tr>
	                    	<td colspan="2" align="center">
	                    		<a href="index.html" class="w3-btn w3-black"><i class="fa fa-arrow-left"></i>Volver</a>
								<button type="submit" ng-disabled="form2.$invalid" class="w3-btn btn-primary">Registrarr</button>
							</td>
	                	</tr>
	            	</table>  
	        </fieldset>          
        </form>
        </div>
		<footer class="w3-sand">
			Copyright &copy; 2016<br/>Derechos reservados. EPN. <br/> Contactese a freddy.bazante@epn.edu.ec o jesus.guerra@epn.edu.ec
		</footer>
		
	</body>
</html>